In [1]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python Docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the read-only "../input/" directory
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

# You can write up to 20GB to the current directory (/kaggle/working/) that gets preserved as output when you create a version using "Save & Run All" 
# You can also write temporary files to /kaggle/temp/, but they won't be saved outside of the current session

/kaggle/input/california-housing-prices/housing.csv

In [2]:
housing1 = pd.read_csv('/kaggle/input/california-housing-prices/housing.csv')
housing1

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,ocean_proximity
0,-122.23,37.88,41.0,880.0,129.0,322.0,126.0,8.3252,452600.0,NEAR BAY
1,-122.22,37.86,21.0,7099.0,1106.0,2401.0,1138.0,8.3014,358500.0,NEAR BAY
2,-122.24,37.85,52.0,1467.0,190.0,496.0,177.0,7.2574,352100.0,NEAR BAY
3,-122.25,37.85,52.0,1274.0,235.0,558.0,219.0,5.6431,341300.0,NEAR BAY
4,-122.25,37.85,52.0,1627.0,280.0,565.0,259.0,3.8462,342200.0,NEAR BAY
...,...,...,...,...,...,...,...,...,...,...
20635,-121.09,39.48,25.0,1665.0,374.0,845.0,330.0,1.5603,78100.0,INLAND
20636,-121.21,39.49,18.0,697.0,150.0,356.0,114.0,2.5568,77100.0,INLAND
20637,-121.22,39.43,17.0,2254.0,485.0,1007.0,433.0,1.7000,92300.0,INLAND
20638,-121.32,39.43,18.0,1860.0,409.0,741.0,349.0,1.8672,84700.0,INLAND
20639,-121.24,39.37,16.0,2785.0,616.0,1387.0,530.0,2.3886,89400.0,INLAND

- Encode categorical variables (we used one hot encoding)
- Deal with missing data (we used knn imputation)

In [3]:
pd.get_dummies(housing1['ocean_proximity']).head()

   <1H OCEAN  INLAND  ISLAND  NEAR BAY  NEAR OCEAN
0          0       0       0         1           0
1          0       0       0         1           0
2          0       0       0         1           0
3          0       0       0         1           0
4          0       0       0         1           0

In [4]:
housing1.drop('ocean_proximity', axis=1).head()

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value
0,-122.23,37.88,41.0,880.0,129.0,322.0,126.0,8.3252,452600.0
1,-122.22,37.86,21.0,7099.0,1106.0,2401.0,1138.0,8.3014,358500.0
2,-122.24,37.85,52.0,1467.0,190.0,496.0,177.0,7.2574,352100.0
3,-122.25,37.85,52.0,1274.0,235.0,558.0,219.0,5.6431,341300.0
4,-122.25,37.85,52.0,1627.0,280.0,565.0,259.0,3.8462,342200.0

In [5]:
housing2 = pd.concat([housing1.drop('ocean_proximity', axis=1),
                              pd.get_dummies(housing1['ocean_proximity'])], axis=1)
housing2

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,<1H OCEAN,INLAND,ISLAND,NEAR BAY,NEAR OCEAN
0,-122.23,37.88,41.0,880.0,129.0,322.0,126.0,8.3252,452600.0,0,0,0,1,0
1,-122.22,37.86,21.0,7099.0,1106.0,2401.0,1138.0,8.3014,358500.0,0,0,0,1,0
2,-122.24,37.85,52.0,1467.0,190.0,496.0,177.0,7.2574,352100.0,0,0,0,1,0
3,-122.25,37.85,52.0,1274.0,235.0,558.0,219.0,5.6431,341300.0,0,0,0,1,0
4,-122.25,37.85,52.0,1627.0,280.0,565.0,259.0,3.8462,342200.0,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
20635,-121.09,39.48,25.0,1665.0,374.0,845.0,330.0,1.5603,78100.0,0,1,0,0,0
20636,-121.21,39.49,18.0,697.0,150.0,356.0,114.0,2.5568,77100.0,0,1,0,0,0
20637,-121.22,39.43,17.0,2254.0,485.0,1007.0,433.0,1.7000,92300.0,0,1,0,0,0
20638,-121.32,39.43,18.0,1860.0,409.0,741.0,349.0,1.8672,84700.0,0,1,0,0,0
20639,-121.24,39.37,16.0,2785.0,616.0,1387.0,530.0,2.3886,89400.0,0,1,0,0,0

In [6]:
from sklearn.impute import KNNImputer
imputer = KNNImputer()
imputation = imputer.fit_transform(housing2)
housing3 = pd.DataFrame(imputation, columns = housing2.columns)
housing3.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20640 entries, 0 to 20639
Data columns (total 14 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   longitude           20640 non-null  float64
 1   latitude            20640 non-null  float64
 2   housing_median_age  20640 non-null  float64
 3   total_rooms         20640 non-null  float64
 4   total_bedrooms      20640 non-null  float64
 5   population          20640 non-null  float64
 6   households          20640 non-null  float64
 7   median_income       20640 non-null  float64
 8   median_house_value  20640 non-null  float64
 9   <1H OCEAN           20640 non-null  float64
 10  INLAND              20640 non-null  float64
 11  ISLAND              20640 non-null  float64
 12  NEAR BAY            20640 non-null  float64
 13  NEAR OCEAN          20640 non-null  float64
dtypes: float64(14)
memory usage: 2.2 MB

- Put target variable as final column
- shuffle data

In [7]:
housing4 = housing3[['longitude',
                     'latitude',
                     'housing_median_age',
                     'total_rooms',
                     'total_bedrooms',
                     'population',
                     'households',
                     'median_income',
                     '<1H OCEAN',
                     'INLAND',
                     'ISLAND',
                     'NEAR BAY',
                     'NEAR OCEAN',
                     'median_house_value']]

housing4 = housing4.sample(n=len(housing4), random_state=1)
housing4

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,<1H OCEAN,INLAND,ISLAND,NEAR BAY,NEAR OCEAN,median_house_value
4712,-118.36,34.06,39.0,2810.0,670.0,1109.0,624.0,3.2500,1.0,0.0,0.0,0.0,0.0,355000.0
2151,-119.78,36.78,37.0,2185.0,455.0,1143.0,438.0,1.9784,0.0,1.0,0.0,0.0,0.0,70700.0
15927,-122.42,37.73,46.0,1819.0,411.0,1534.0,406.0,4.0132,0.0,0.0,0.0,1.0,0.0,229400.0
82,-122.28,37.81,52.0,340.0,97.0,200.0,87.0,1.5208,0.0,0.0,0.0,1.0,0.0,112500.0
8161,-118.13,33.82,37.0,1530.0,290.0,711.0,283.0,5.1795,1.0,0.0,0.0,0.0,0.0,225400.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10955,-117.88,33.76,17.0,1768.0,474.0,1079.0,436.0,1.7823,1.0,0.0,0.0,0.0,0.0,205300.0
17289,-119.63,34.42,42.0,1765.0,263.0,753.0,260.0,8.5608,1.0,0.0,0.0,0.0,0.0,500001.0
5192,-118.26,33.93,42.0,1433.0,295.0,775.0,293.0,1.1326,1.0,0.0,0.0,0.0,0.0,104800.0
12172,-117.16,33.73,10.0,2381.0,454.0,1323.0,477.0,2.6322,0.0,1.0,0.0,0.0,0.0,140700.0
235,-122.20,37.79,35.0,1802.0,459.0,1009.0,390.0,2.3036,0.0,0.0,0.0,1.0,0.0,126000.0

Split data into train, test and validation sets (roughly 80:10:10 ratio)

In [8]:
train, test, val = housing4[:16512], housing4[16512:18576], housing4[18576:]
len(train) + len(test) + len(val)

20640

In [9]:
X_train, y_train = train.to_numpy()[:, :-1], train.to_numpy()[:, -1]
X_val, y_val = val.to_numpy()[:, :-1], val.to_numpy()[:, -1]
X_test, y_test = test.to_numpy()[:, :-1], test.to_numpy()[:, -1]

X_train.shape, y_train.shape, X_val.shape, y_val.shape, X_test.shape, y_test.shape

((16512, 13), (16512,), (2064, 13), (2064,), (2064, 13), (2064,))

preprocess data

In [10]:
from sklearn.preprocessing import StandardScaler
import numpy as np

scaler = StandardScaler()

def preprocessor(X):
  A = np.copy(X)
  A[:, :8] = scaler.fit_transform(A[:, :8])
  return A

X_train, X_val, X_test = preprocessor(X_train), preprocessor(X_val), preprocessor(X_test)

In [11]:
pd.DataFrame(X_train).head()

,0,1,2,3,4,5,6,7,8,9,10,11,12
0,0.602872,-0.734676,0.819784,0.080848,0.315667,-0.277222,0.325630,-0.326115,1.0,0.0,0.0,0.0,0.0
1,-0.105358,0.537067,0.660678,-0.206593,-0.196643,-0.247356,-0.161208,-0.990718,0.0,1.0,0.0,0.0,0.0
2,-1.422067,0.981242,1.376655,-0.374918,-0.301488,0.096110,-0.244965,0.072772,0.0,0.0,0.0,1.0,0.0
3,-1.352241,1.018646,1.853974,-1.055119,-1.049699,-1.075714,-1.079919,-1.229883,0.0,0.0,0.0,1.0,0.0
4,0.717585,-0.846889,0.660678,-0.507831,-0.589811,-0.626837,-0.566907,0.682340,1.0,0.0,0.0,0.0,0.0

perform gradient descent

In [12]:
from sklearn.linear_model import SGDRegressor
sgdr = SGDRegressor(max_iter=1000)
sgdr.fit(X_train, y_train)
print(sgdr)
print(f"number of iterations completed: {sgdr.n_iter_}, number of weight updates: {sgdr.t_}")

SGDRegressor()
number of iterations completed: 10, number of weight updates: 165121.0

In [13]:
from sklearn.metrics import mean_squared_error as mse
mse(sgdr.predict(X_train), y_train, squared=False), mse(sgdr.predict(X_val), y_val, squared=False)

(68762.58209086761, 69358.43279708516)

In [14]:
mse(sgdr.predict(X_test), y_test, squared=False)

68564.83022403838